body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #666;
    margin: 0;
    line-height: 1.7;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
a:focus, input:focus, button:focus{
    outline: none;
}
section{
    overflow: hidden;
    padding-top: 60px;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    float: left;
}
h1, h2, h3, h4{
    color: #333;
    font-family: 'Montserrat', sans-serif;
}
h2.section-title{
    font-size: 40px;
    font-weight: 600;
}
.box-btn{
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s;
    display: inline-block;
    padding: 14px 30px;
    color: #fff;
    border-radius: 5px;
}

.box-btn:hover{
    box-shadow: 0 0 5px tomato;
}
h1.name {
    color: #FFA92E;
    font-size: 40px;
}

.hero-content {
    margin-top: 60px;
}

.bg-position {
    background-position: left;
    background-repeat: no-repeat;
}


}

.about-content {
    margin-top: 60px;
}

h2.section-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.work-image-box {
    width: 26%;
    float: left;
    margin-left: 5.5%;
    box-sizing: border-box;
    box-shadow: 0 0 25px #ccc;
    padding: 5px;
    transition: .4s;
    margin-bottom: 20px;

}

.work-image-box:hover {
    transform: scale(1.1);
    box-shadow: none;
}

.single-testiminial {
    text-align: center;
    width: 26%;
    float: left;
    margin-left: 5.5%;
    box-shadow: 0 0 25px #ccc;
    min-height: 350px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.single-testiminial:hover img{
    transform: scale(.8);
    background: #FFA530;
}
.single-testiminial img {
    padding: 5px;
    width: 120px;
    border-radius: 509%;
    height: 120px;
    border: 1px solid #FF6C4E;
    transition: .4s;
}
.single-testiminial p {
    padding: 7px;
}
.bg-position-right {background-position: right;background-size: cover;}
.bg-position-left {background-position: left;background-size: cover;}
.service-boox{
    text-align: center;
    width: 26%;
    float: left;
    margin-left: 5.5%;
    box-shadow: 0 0 25px #ccc;
    margin-bottom: 20px; 
    height: 220px;
    overflow: hidden;
}

.service-info {
    width: 65%;
    float: right;
    text-align: left;
}

.service-icon-box {
    width: 30%;
    text-align: center;
    float: left;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFA530;
    transition: .4s;
    margin-bottom: 30px;
}

.service-icon-box span {
    font-size: 50px;
    color: #fff;
    transition: .5s;
}

.service-boox:hover .service-icon-box span {
    transform: rotate(360deg);
}

.service-boox:hover {
    box-shadow: none;
}
.contact-form {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 15px 0;
}

textarea {
    margin-bottom: 30px;
    width: 100%;
}

input[type="text"]::placeholder {
    color: #ddd;
    padding: 17px;
}

button.box-btn {
    border: none;
    padding: 15px 40px;
    margin-bottom: 30px;
}


footer.footer {
    background-position: left;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px 0 20px 0;
    border-top: 1px solid #eee;
}

ul.socol-links {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
}

ul.socol-links li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

ul.socol-links li a {
    height: 30px;
    width: 30px;
    display: block;
    background: #FFA431;
    color: #fff;
    font-size: 18px;
    transition: .4s;
}

ul.socol-links li a:hover {
    border-radius: 30px;
}
